/**
 * Created by Samuel Gratzl on 27.08.2014.
 */

body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

* {
  //print precisely
  -webkit-print-color-adjust: exact;
}

#headerWaitingOverlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.26) url('../assets/caleydo_c_anim.svg') no-repeat fixed center;
  z-index: 999;
}

#headerAboutDialog {
  .caleydoInfo {
    display: flex;
    align-items: center;

    .logo {
      width: 100px;
      margin-right: 15px;

      img {
        width: 100%;
      }
    }

    p {
      margin-bottom: 0;
    }
  }
}

nav {
  .navbar-nav > li > a, a.navbar-brand {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: auto !important;
  }

  &.navbar {
    min-height: 32px !important;
  }

  .caleydo_app {
    padding-left: 1.6em;
    background: transparent url("../assets/caleydo_c.svg") no-repeat 0.5em 49%;
    background-size: 12%;
    background-origin: border-box;
  }
}
