// set positions and spacings
nav.navbar,
nav.navbar-inverse {
  margin: 0;
  min-height: auto;
  border-radius: 0;
  border: none;
  border-bottom: 2px solid;

  .navbar-header {
    display: flex;
    align-items: stretch;
  }

  .navbar-nav > li > a,
  .navbar-brand {
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;

    &.disabled {
      pointer-events: none;
    }
  }

  // caleydo logo for the app link
  .caleydo_app {
    display: flex;
    align-items: center;
    gap: 1rem;

    &::before {
      content: '';
      display: block;
      background: $phovea-navbar-icon-url no-repeat center $phovea-navbar-icon-top;
      background-size: contain;
      height: 100%;
      width: $phovea-navbar-icon-width;
      transform: scale(1.2);
    }
  }
}

// Color the default navbar in a light tone
nav.navbar {
  background-color: $header-bg-color;
  border-bottom-color: $header-border-color;

  .navbar-nav > li > a,
  .navbar-brand {
    color: $header-link-color;

    &.disabled {
      color: $header-border-color;
    }

    &:hover, &:focus {
      background-color: $header-border-color;
      color: $header-link-color;
    }
  }

  .dropdown-menu a {
    color: $header-dropdown-link-color;
  }
}

// Color the inverse navbar in a dark tone
nav.navbar-inverse {
  background-color: invert($header-bg-color);
  border-bottom-color: invert($header-border-color);

  .navbar-nav > li > a,
  .navbar-brand {
    color: invert($header-link-color);

    &.disabled {
      color: lighten(invert($header-border-color), 30%);
    }

    &:hover, &:focus {
      background-color: lighten(invert($header-border-color), 10%);
      color: invert($header-link-color);
    }
  }

  .dropdown-menu a {
    color: invert($header-dropdown-link-color);
  }
}

// aboutDialog dialog that opens from a link in the header
#headerAboutDialog {
  .modal-title {
    text-transform: capitalize;
  }

  .caleydoInfo {
    margin-top: 15px;
    display: flex;
    align-items: stretch;
    gap: 15px;

    &::before {
      display: block;
      content: '';
      background: $phovea-about-dialog-icon-url no-repeat center top;
      background-size: contain;
      flex-basis: 40px;
      min-height: $phovea-about-dialog-icon-height;
    }

    p {
      flex: 1;
      margin-bottom: 0;
    }
  }
}

#headerReportBugDialog {
  *[data-header="bug"] textarea {
    width: 100%;
    height: 25vh;
    overflow: auto;
  }
}
