/**
 * Common spacings and logos
 */
.navbar {
  padding-top: 0; // map-get($spacers, 1); // $spacers = bootstrap sass variables map
  padding-bottom: 0; // map-get($spacers, 1);

  .navbar-brand {
    padding-top: map-get($spacers, 1) * 0.5;
  }

  // caleydo logo for the app link
  .caleydo_app {
    padding-left: 1.4em;
    background: $phovea-brand-logo-background;
    background-size: 20px;
    background-origin: border-box;
    display: flex;
    align-items: center;
  }

  .navbar-nav {
    gap: map-get($spacers, 1);
  }

  // hide caret icon of dropdowns in header
  .dropdown-toggle::after {
    content: none;
  }
}

.phovea-navbar {
  /**
   * Colors light theme
   */
  &.navbar-light {
    border-bottom: 1px solid map-get($theme-colors, "gray-3");

    .navbar-brand {
      color: map-get($theme-colors, "dark");
    }

    .nav-link {
      color: map-get($theme-colors, "dark");

      &:hover,
      &:focus {
        background-color: map-get($theme-colors, "gray-3");
        color: map-get($theme-colors, "dark");
      }
    }

    .active > .nav-link {
      background-color: map-get($theme-colors, "gray-3");
      color: map-get($theme-colors, "dark");
    }
  }

  /**
   * Colors dark theme
   */
  &.navbar-dark {
    border-bottom-color: map-get($theme-colors, "gray-5");

    .navbar-brand {
      color: map-get($theme-colors, "white");
    }

    .nav-link {
      color: map-get($theme-colors, "light");

      &:hover,
      &:focus {
        background-color: map-get($theme-colors, "light");
        color: map-get($theme-colors, "dark");
      }
    }

    .active > .nav-link {
      background-color: map-get($theme-colors, "light");
      color: map-get($theme-colors, "dark");
    }
  }
}

// aboutDialog dialog that opens from a link in the header
#headerAboutDialog {
  .modal-title {
    text-transform: capitalize;
  }

  .caleydoInfo {
    margin-top: 15px;
    display: flex;
    align-items: stretch;
    gap: 15px;

    &::before {
      display: block;
      content: "";
      background: transparent #{$phovea-brand-logo-url} no-repeat top center;
      background-size: contain;
      flex-basis: $phovea-brand-logo-width;
      min-height: $phovea-brand-logo-width;
    }

    p {
      flex: 1;
      margin-bottom: 0;
    }
  }
}

#headerReportBugDialog {
  *[data-header="bug"] textarea {
    width: 100%;
    height: 25vh;
    overflow: auto;
  }
}
