<script>
    (function () {
        var isChrome = /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
        var isFirefox = /Firefox/.test(navigator.userAgent);
        if (!isChrome && !isFirefox) {
            alert('This application was designed to be used in Google Chrome and Mozilla Firefox. Running the application in other browsers might result in performance issues or other misbehavior.');
        }
    })();
</script>
<script type="text/javascript" charset="utf-8" src="./common.js?cache-bust=${Date.now()}"></script>
<script type="text/javascript" charset="utf-8" src="./app.js?cache-bust==${Date.now()}"></script>
