
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts' !default;
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/' !default;

$phovea-loading-icon-url: url('~phovea_ui/dist/assets/caleydo_c_anim.svg') !default;

$phovea-navbar-icon-url: url('~phovea_ui/dist/assets/caleydo_c.svg') !default;
$phovea-navbar-icon-width: 20px !default;
$phovea-navbar-icon-top: center !default;

$phovea-about-dialog-icon-url: url('~phovea_ui/dist/assets/caleydo_c.svg') !default;
$phovea-about-dialog-icon-height: unset !default;

// header navbar color (the inverse colors will be computed using sass `invert($color)`)
$header-bg-color: #f0f0f0 !default;
$header-border-color: #ddd !default;
$header-link-color: #333 !default;
$header-dropdown-link-color: $header-link-color !default;

$select-color: orange !default;
$select-color-bright: #ffdca3 !default;
$hover-color: black !default;

$hover-presentation-color: #f0bb00 !default;

$annotation_color: #009ACD !default;
$annotation_color_hover: #006b90 !default;

$anchor_color: red !default;
$anchor_color_hover: darkred !default;

$select-data-color: orange !default;
$hover-data-color: #ffc46b !default;
