
$boostrapAssetDir: './assets' !default;
$phovea-loading-icon: rgba(255, 255, 255, 0.26) url('#{$boostrapAssetDir}/caleydo_c_anim.svg') no-repeat fixed center !default;
$phovea-brand-logo: transparent url('#{$boostrapAssetDir}/caleydo_c.svg') no-repeat 0.6em 45% !default;
